.button {
    background-color: var(--main-color);
    padding: 15px 15px;
    color: var(--txt-white);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: all .3s;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.button, .fullWidth {
    width: 100%;
}

.button:hover {
    background-color: var(--second-color);
}
.button__content{
    font-size: 1rem;
}